.address {
  position: relative;

  &::after {
    position: absolute;
    background-color: #ffffff;
    background-image: url("../img/footer-images/address-image.svg");
    content: "";
    width: 13px;
    height: 16px;
    top: 1px;
    left: 0;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
