@import "./global/variables.scss";

.contacts__title {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #7859cf;
}

.contacts__link {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #333333;
}

// mobile-only-version
@media (max-width: $mobile-width-only) {
  .contacts {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 1px;
      background-color: #f0ebff;
      left: -20px;
      width: 320px;
      bottom: 0;
    }
  }
}
