@import "./global/variables.scss";

.lavender-latte {
  background-color: #eae6fc;
}

.lavender-latte__legend {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
}

.lavender-latte__title {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #333333;
}

.lavender-latte__description {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

// tablet-version
@media (min-width: $tablet-width) {
  .lavender-latte__title {
    font-size: 56px;
    line-height: 80px;
  }

  .lavender-latte__description {
    font-size: 20px;
    line-height: 32px;
  }
}
