@import "./global/variables.scss";

.order__price__old {
  margin-right: 3px;
}

.order__toggle {
  padding: 9px 20px 8px;
}

// tablet-version
@media (min-width: $tablet-width) {
  .order__toggle {
    padding: 8px 20px 6px;
  }
}

// desktop-version
@media (min-width: $desktop-width) {
  .order__price {
    padding-right: 20px;
    min-width: 100px;
  }
}
