.price__old {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #7859cf;
  text-decoration-line: line-through;
}

.price__real {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #333333;
  padding-top: 1px;
}
