@import "./global/variables.scss";

.site-list__item {
  display: contents;
}

// mobile-only-version
@media (max-width: $mobile-width-only) {
  .site-list__item a {
    border-top: 1px solid #f0ebff;
    font-family: "montserrat", "Arial", sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #333333;
    background-color: #ffffff;
    padding: 20px 0 20px;
    display: block;

    &:active {
      background-color: #f0ebff;
    }

    &:hover {
      background-color: #f0ebff;
    }

    &:focus {
      outline: none;
      background-color: #f0ebff;
    }
  }
}

// tablet-version
@media (min-width: $tablet-width) {
  .site-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    a {
      font-family: "montserrat", "Arial", sans-serif;
      font-style: normal;
      text-decoration: none;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #333333;
      background-color: #ffffff;
      padding: 24px 20px 32px;

      &:hover {
        color: #7859cf;
      }

      &:focus {
        color: #7859cf;
        border: none;
        outline: none;
      }

      &:active {
        background-color: #f0ebff;
        color: #7859cf;
        border: none;
      }
    }
  }

  .site-list__item--active {
    a {
      position: relative;
      color: #7859cf;
      box-sizing: border-box;
      display: block;
      padding: 24px 20px 32px;

      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 2px;
        background-color: #7859cf;
        left: 0;
        bottom: 0;
      }

      &:hover {
        &::before {
          background-color: #ffffff;
        }
      }

      &:focus {
        &::before {
          background-color: #ffffff;
        }
      }
    }
  }
}

// desktop-version
@media (min-width: $desktop-width) {
  .site-list__item--active a {
    padding: 31px 20px 31px;
  }
}
