@import "./global/variables.scss";

.triple-espresso {
  background-color: #e5e6e8;
}

.triple-espresso__legend {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #7859cf;
}

.triple-espresso__title {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #333333;
}

.triple-espresso__description {
  font-family: "montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

// tablet-version
@media (min-width: $tablet-width) {
  .triple-espresso__title {
    font-size: 56px;
    line-height: 80px;
  }

  .triple-espresso__description {
    font-size: 20px;
    line-height: 32px;
  }
}
