@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/montserrat.woff2"), url("../fonts/montserrat.woff");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/montserratmedium.woff2"), url("../fonts/montserratmedium.woff");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/montserratsemibold.woff2"), url("../fonts/montserratsemibold.woff");
}

@font-face {
  font-family: "montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/montserratbold.woff2"), url("../fonts/montserratbold.woff");
}
